.header-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    background-color: rgb(135, 12, 12);


    .header-top {
        width: 50%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        h1 {
            color: white;
            text-align: center;
        }

        form{
            button{
                cursor: pointer;
                font-size: 18px;
                border: 0;
                font-weight: 800;
                padding: 5px 8px;
                border-radius: 5px; 
            }
        }
    }

    .header-parent {
        width: 100%;
        margin: 0 auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .header-bottom {
            display: flex;
            align-items: center;
            padding-left: 40px;
            gap: 30px;
            margin-top: 20px;

            p {
                border-right: 1px solid white;
                padding: 10px 10px;
                cursor: pointer;
                font-size: 18px;
            }
        }


        .header-search {
            margin-top: 20px;

            input {
                padding: 5px 20px;
                outline: none;
            }
        }
    }
}